* {
    --bg: #191b1c;
    --fg: #0ca8f6;
    --black: #000;
    overflow-x: hidden;
    background-color: var(--bg);
    padding: 0;
    margin: 0;
}


/* Basic styles for header and navigation */
header {
    background-color: inherit;
    padding: 1rem 5rem 1rem 5rem;
    font-size: 1.5rem;
    display: flex;
    margin-bottom: 3rem;
    border-bottom: --black 1px solid;

}

#logo {
    margin-right: 2rem;
    width: fit-content;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo p {
    color: var(--fg);
    font-size: 18px;
}

#balance-Div {
    display: flex;
    align-items: center;
    margin-left: 1px;
    width: fit-content;
    background-color: #0b0c0c;
    border-radius: 50px;
}

#balance {
    font-size: 18px;
    margin: 10px;
    background-color: inherit;
    color: var(--fg);
}

nav {
    background-color: --bg;
    display: flex;
    width: 90%;
    justify-content: space-around;
    padding: 0.5rem 0;
}

nav a {
    color: var(--fg);
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: --black000;
}

nav a:hover {
    background-color: #555;
    border-radius: 50px;
}

#searchbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

#symbolSearch{
    border: 1px solid #0b0c0c;
    height: 30px;
    width: 33%;
    text-align: center;
    border-radius: 10px;
    color: var(--fg);

}
#symbolSearch {
   text-decoration: none;
}

#searchResultsContainer{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fg);
    
}

#searchResults {
    width: 33%;

}

#searchResults > div {
    padding: 10px;
    margin-top: 5px;
    background-color: #121212;
    cursor: pointer;
}

/* Placeholder for the chart */
#chart {
    width: 60%;
    height: auto;
    margin: 5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fg);
}

#stockChart {
    width: 100%;
    border: 1px solid #0b0c0c;
}

/* Time frame navigation */
#timeframe-nav {
    display: flex;
    justify-content: space-around;
    margin: 1rem auto;
    width: 90%;
}