*  {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

header a {    
    text-decoration: none;
    margin: 2ch;
    color: #333;
    padding: 5px;
}

header a:hover {
    
    border-radius: 5px;
    background-color: rgb(35, 35, 35, 0.1); 
    color: #000000;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: #f0f0f0;
    border: 5px solid red;
    
}
#chartContainercon{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chartContainer{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}


h1 {
    color: #333;
    margin-top: 2rem;
    margin-bottom: 5rem;
}